.navbar {
  background-color: $kawasaki-dark !important;

  .navbar-brand,
  .nav-link {
    color: $kawasaki-green !important;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
      color: $kawasaki-white !important;
    }
  }
}
